@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
html {
  background: #000;
}
body {
  color:#FFF;
  font-family: 'Ubuntu Mono', monospace !important;
}
.navbar {
  background-color:#171717;
  a {
    color:#FFF;
  }
  .navbar-brand {
    a {
      font-size:24px;
    }
    .small {
      color:green;
    }
  }
  .navbar-item {
    &:hover {
      background-color:#171717;
      color:green;
      text-transform: lowercase;
    }
  }
}

.box {
  background-color:#171717;
  color:#FFF;
}
